/* src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes walk {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes think {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.character {
  width: 256px;
  height: 256px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.walking {
  animation: walk 10s linear infinite;
  background-image: url("https://i.gifer.com/77w2.gif");

  left: 30px;
  padding-left: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}
@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.animate-slideIn {
  animation: slideIn 0.5s ease-out;
}

body {
  background-color: #eff7fd;
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;*/
  font-family: "Poetsen One", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-active {
  border-bottom: 4px solid orange;

  /* Add additional styles for the active link, like a slight downward shift */
  transform: translateY(2px); /* Example for a small downward shift */
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.animate-fadeIn {
  animation: fadeIn 0.5s ease-out;
}
.animate-slideIn {
  animation: slideIn 0.5s ease-out;
}

.nav-link {
  display: block;
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 0;
  transition: color 0.3s ease-in-out;
  text-align: left;
  padding-left: 20px;
}

.dashboard-card {
  background-color: rgb(237, 236, 236);
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.sidebar {
  background-color: #1f2937;
  color: white;
  width: 250px;
  position: fixed;
  height: 100vh;
  transition: all 0.3s;
  z-index: 50;
}

.sidebar-hidden {
  transform: translateX(-250px);
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
  }
}

.toggle-btn {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 60;
  transition: all 0.3s;
}

.toggle-btn-open {
  left: 260px;
}

.main-content {
  transition: margin-left 0.3s;
}

.main-content-shifted {
  margin-left: 250px;
}

.css-1x3v3vy {
  opacity: 1;
  background: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
  color: rgb(255, 255, 255);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 90%;
  padding: 0.5rem 0.625rem;
  margin: 0.09375rem 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.25rem 0.375rem -0.0625rem,
    rgba(0, 0, 0, 0.06) 0rem 0.125rem 0.25rem -0.0625rem;
}
.css-1x3v3vy:hover {
  background: linear-gradient(195deg, rgb(64, 137, 220), rgb(26, 115, 232));
}

/* customStyles.css */

.custom-calendar {
  padding: 20px;
  background-color: #ffffff;
  color: #f68787;
  border: 2px solid #f1f1f1;
  box-shadow: 0 2px 4px rgba(78, 237, 57, 0.1);
  border-radius: 8px;
}

.custom-calendar .rbc-event {
  background-color: #07810f;
  color: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 9px;
  text-align: center;
  margin-left: 4px;
}

.custom-calendar .rbc-time-slot {
  padding-top: 0px;
}

.custom-calendar .rbc-event:hover {
  background-color: #023601;
}

.custom-calendar .rbc-header {
  background-color: #4f4f4f;
  color: #ffffff;
  font-size: 16px;
  padding-bottom: 20px;
}

.custom-calendar .rbc-header:hover {
  background-color: #5f5f5f;
}

.custom-calendar .rbc-toolbar button {
  background-color: #323131;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  font-size: 14px;
}

.custom-calendar .rbc-toolbar button:hover {
  background-color: #5f5f5f;
  color: rgb(255, 255, 255);
}
.custom-calendar .rbc-event-available {
  background-color: #00b894 !important; /* Couleur verte */
  color: rgb(0, 0, 0); /* Texte blanc */
}

.custom-calendar .rbc-event-unavailable {
  background-color: #dfe6e9 !important; /* Couleur grise */
  color: black; /* Texte noir */
}
