/* src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes walk {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes think {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.character {
  width: 256px;
  height: 256px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.walking {
  animation: walk 10s linear infinite;
  background-image: url("https://i.gifer.com/77w2.gif");

  left: 30px;
  padding-left: 20px;
}

body {
  @apply bg-gray-100 text-black;
}

body.dark {
  @apply bg-gray-900 text-white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}
@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.animate-slideIn {
  animation: slideIn 0.5s ease-out;
}

body {
  background-color: #eff7fd;
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;*/
    font-family: "Poetsen One", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.nav-active {
  border-bottom: 4px solid orange;

  /* Add additional styles for the active link, like a slight downward shift */
  transform: translateY(2px); /* Example for a small downward shift */
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.animate-fadeIn {
  animation: fadeIn 0.5s ease-out;
}
.animate-slideIn {
  animation: slideIn 0.5s ease-out;
}
